node_modules/
.cache/
public

# Local Netlify folder
.netlify

deployment.json

package-lock.json
# @netlify/plugin-gatsby ignores start
serverless-functions/gatsby
# @netlify/plugin-gatsby ignores end
