name: release-please
on:
  push:
    branches:
      - main
jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: navikt/github-app-token-generator@757386febfca7206eca81593f81558cd99bcee12
        id: get-token
        with:
          private-key: ${{ secrets.TOKENS_PRIVATE_KEY }}
          app-id: ${{ secrets.TOKENS_APP_ID }}
      - uses: GoogleCloudPlatform/release-please-action@v3
        id: release
        with:
          token: ${{ steps.get-token.outputs.token }}
          command: manifest
      - uses: actions/checkout@v6
        if: ${{ steps.release.outputs.releases_created }}
      - uses: actions/setup-node@v4
        with:
          node-version: '*'
          cache: 'npm'
          check-latest: true
          registry-url: 'https://registry.npmjs.org'
        if: ${{ steps.release.outputs.releases_created }}
      - name: Install dependencies
        run: npm ci
        working-directory: plugin
        if: ${{ steps.release.outputs.releases_created }}
      - run: npm publish
        working-directory: plugin
        if: ${{ steps.release.outputs.releases_created }}
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
      - uses: netlify/submit-build-plugin-action@v1
        if: ${{ steps.release.outputs.releases_created }}
        with:
          github-token: ${{ steps.get-token.outputs.token }}
          package-json-dir: plugin
