name: Plugin Tests

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest] #, windows-latest] # TODO add an e2etest.bat file
        node-version: [14.15.0, '*']
        exclude:
          - os: macOS-latest
            node-version: 14.15.0
          # - os: windows-latest
          #   node-version: 14.15.0
      fail-fast: false

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          check-latest: '*'
      - run: npm install -g netlify-cli
      - run: npm ci
      - run: cd plugin && npm ci && npm run build
      - run: npm test
